[Desktop Entry]
Type=Application
Name=gostim2
Comment=Multimedia stimulus delivery system
Exec=gostim2-gui
Icon=gostim2
Categories=Science;
Terminal=false
